<svg width="44px" height="44px" viewBox="0 0 44 44" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>RSS</title>
    <defs></defs>
    <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Black" transform="translate(-817.000000, -296.000000)" fill="#000000">
            <path d="M817.000471,333.714286 C817.000471,330.243 819.81487,327.428571 823.286118,327.428571 C826.757367,327.428571 829.571765,330.243 829.571765,333.714286 C829.571765,337.185571 826.757367,340 823.286118,340 C819.81487,340 817.000471,337.185571 817.000471,333.714286 Z M861,340 L852.619661,340 C852.619661,320.358714 836.641547,304.380429 817.000471,304.380429 L817.000471,296 C841.261497,296 861,315.738714 861,340 Z M846.333543,340 L837.953204,340 C837.953204,328.446857 828.553019,319.048143 817,319.048143 L817,310.666143 C833.174541,310.666143 846.333543,323.825286 846.333543,340 Z" id="RSS"></path>
        </g>
        <g id="Credit" transform="translate(-1909.000000, -473.000000)"></g>
    </g>
</svg>